.tableStyle{
    background-color: white;
    border-color: blue;
    color-scheme: yellow;
    
    padding: 0px 60px;
    border-radius: 10px;}

    button{
        width: 100%;
        height: 50px;
        padding: 10px;
        border: none;
        background-color: rgb(17, 104, 234);
        color: rgb(112, 8, 8);
        border-radius: 5px;
        font-weight: bold;
        font-size: 18px;
        cursor: pointer;
        margin-top: 15px;
        margin-bottom: 30px;
    }
